<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.asd.mapper.ProductMapper">

	<resultMap id="productMap" type="team.asd.entity.Product">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="supplierId" column="supplier_id" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="state" column="state" jdbcType="VARCHAR" javaType="team.asd.constant.ProductState"/>
		<result property="currency" column="currency" jdbcType="VARCHAR"/>
		<result property="guestsNumber" column="guests" jdbcType="INTEGER"/>
		<result property="longitude" column="longitude" jdbcType="DOUBLE"/>
		<result property="latitude" column="latitude" jdbcType="DOUBLE"/>
		<result property="physicalAddress" column="physical_address" jdbcType="VARCHAR"/>
		<result property="version" column="version" jdbcType="TIMESTAMP"
				typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
	</resultMap>

	<select id="readProductById" parameterType="java.lang.Integer" resultMap="productMap">
		select id,
			   supplier_id,
			   name,
			   state,
			   currency,
			   guests,
			   longitude,
			   latitude,
			   physical_address,
			   version
		from product
		where id = #{id}
	</select>

	<insert id="insertProduct" parameterType="team.asd.entity.Product" useGeneratedKeys="true" keyProperty="id">
		insert into product (supplier_id, name <if test="state != null">, state</if>, currency,
		<if test="guestsNumber !=null">guests,</if>
		longitude, latitude, physical_address)
		values (#{supplierId}, #{name},
		<if test="state != null">#{state},</if>
		#{currency}, <if test="guestsNumber !=null">#{guestsNumber},</if> #{longitude},#{latitude}, #{physicalAddress})
	</insert>

	<update id="updateProduct" parameterType="team.asd.entity.Product" useGeneratedKeys="true" keyProperty="id">
		update product
		<set>
			<if test="supplierId != null">supplier_id=#{supplierId},</if>
			<if test="name != null">name=#{name},</if>
			<if test="state != null">state=#{state},</if>
			<if test="currency != null">currency=#{currency},</if>
			<if test="guestsNumber != null">guests=#{guestsNumber},</if>
			<if test="longitude != null">longitude=#{longitude},</if>
			<if test="latitude != null">latitude=#{latitude},</if>
			<if test="physicalAddress != null">physical_address=#{physicalAddress}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteProduct" parameterType="java.lang.Integer">
		update product
		set state='Final'
		where id = #{id}
	</delete>
</mapper>